/* Fondo centrado */
.register {
  width: 100vw;
  height: 100vh;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulario general */
.formulario {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario h4 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 4px;
}

form {
  width: 100%;
}

.form-control {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-select {
  background-color: rgb(240, 240, 240);
  border: none;
  color: black;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding-right: 40px;
}

.btn-pass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Botón centrado */
.boton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  background-color: lightgray;
  border: none;
  color: black;
  width: 150px;
  height: 45px;
  padding: 10px;
  border-radius: 15px;
}

.btn:hover {
  background-color: rgb(200, 200, 200);
  width: 152px;
}

/* Errores */
.error {
  color: #c1d23e;
  font-size: 0.9em;
  margin-top: 5px;
}