form {
    max-width: 600px;
    margin: auto;
}

.mb-3 label {
    font-weight: bold;
    padding-left: 5px;
}

input, textarea, select {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .btn {
    background-color: lightgray;
    border: none;
    color: black;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 15px;
  }
  
  .btn:hover {
    background-color: #f0fe87;
    width: 152px;
  }