.login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario h4 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-control {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.btn {
    background-color: lightgray;
    border: none;
    color: black;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(200, 200, 200);
    width: 152px;

}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}