<div class="card">
  <div class="card-body">

    <div *ngIf="loading">📦 Cargando documentos...</div>

    <ul *ngIf="!loading && documents.length > 0" class="list-group">
      <li *ngFor="let doc of documents" class="list-group-item">
        <div class="d-flex align-items-center w-100">

          <!-- Nombre del archivo -->
          <a [href]="doc.url" target="_blank" class="me-2 text-truncate flex-grow-1" style="flex: 1;">
            {{ doc.filename }}
          </a>

          <!-- Estado -->
          <span class="badge bg-secondary text-center mx-3" style="flex: 0;">
            {{ doc.status }}
          </span>

          <!-- Icono papelera -->
          <i class="fa-regular fa-trash-can" (click)="delete(doc.id)" style="flex: 0; cursor: pointer;"></i>

        </div>
      </li>


    </ul>

    <p *ngIf="!loading && documents.length === 0" class="text-muted mt-2">
      <i class="fa-solid fa-triangle-exclamation"></i> No hay documentos subidos aún.
    </p>

  </div>
</div>